In [48]:
import pandas as pd
import matplotlib
import seaborn as sb

%matplotlib inline

In [46]:
bookdf = pd.read_csv("./data/books.csv")

In [50]:
bookdf.head(2)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9.78044E+12,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9.78044E+12,eng,870,1996446,27613

In [52]:
bookdf.tail(2)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
13717,47708,The Faeries' Oracle,Brian Froud-Jessica Macbeth,4.43,743201116,9.78074E+12,eng,224,1550,38
13718,47709,The World of The Dark Crystal,Brian Froud,4.29,1862056242,9.78186E+12,eng,132,3572,33

In [56]:
bookdf.describe()

             bookID  ratings_count  text_reviews_count
count  13719.000000   1.371900e+04        13719.000000
mean   22160.579270   1.775903e+04          533.606385
std    13699.603351   1.129371e+05         2528.600316
min        1.000000   0.000000e+00            0.000000
25%    10621.000000   8.300000e+01            7.000000
50%    21322.000000   6.300000e+02           40.000000
75%    33322.000000   4.737000e+03          222.000000
max    47709.000000   5.629932e+06        93619.000000

In [58]:
bookdf.dtypes

bookID                 int64
title                 object
authors               object
average_rating        object
isbn                  object
isbn13                object
language_code         object
# num_pages           object
ratings_count          int64
text_reviews_count     int64
dtype: object